.skills_list {
	list-style: none;
	padding: 0;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-gap: 1em;
	justify-content: center;
	align-items: center;
	li {
		background-color: #fff;
		img {
			height: 4em;
			filter: grayscale(100%);
		}
		&:hover {
			transition: 0.5s;
			img {
				filter: none;
			}
		}
	}
	@media screen and (max-width: 900px) {
		grid-template-columns: repeat(4, 1fr);
	}
	@media screen and (max-width: 600px) {
		grid-template-columns: repeat(3, 1fr);
	}
	@media screen and (max-width: 400px) {
		grid-template-columns: repeat(2, 1fr);
	}
}

.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: #1969ff;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -60px;
	opacity: 0;
	transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #1969ff transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}
