.contacts {
	padding: 0;
}

.card {
	margin: 0 auto;
	width: 13em;
	height: 19em;
	background: #fff;
	transform-style: preserve-3d;
	transform: perspective(2000px);
	box-shadow: inset 300px 0 50px grey, 0 20px 100px white;
	transition: 1s;
	// border-right: 1px solid #232323;
}

.card:hover {
	transition: 1s;
	transform: perspective(1000px) rotate(-10deg);
	box-shadow: inset 20px 0 50px grey, 0 10px 100px black;
}
// .card::before {
// 	content: "";
// 	position: absolute;
// 	bottom: -1px;
// 	left: 1px;
// 	width: 100%;
// 	height: 2px;
// 	background: #232323;
// 	transform-origin: botom;
// 	transform: skewX(45deg);
// }
// .card::after {
// 	content: "";
// 	position: absolute;
// 	top: 0;
// 	right: -5px;
// 	width: 5px;
// 	height: 100px;
// 	background: red;
// 	transform-origin: left;
// 	transform: skewY(-45deg);
// }
.img_container {
	width: 100%;
	height: 100%;
	position: relative;
	transform-origin: left;
	transition: 1s;
	z-index: 1;
	background-color: #fff;
	display: grid;
	align-items: center;
	justify-items: center;
	transition: 1s;
	img {
		width: 90%;
	}
}
.card:hover .img_container {
	transition: 1s;
	transform: rotateY(-135deg);
	// border: 1px solid #d2d2d2;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.text_content {
	position: absolute;
	top: -3px;
	left: 0;
	box-sizing: border-box;
	margin: 0 7px;
	font-size: 12px;
	text-align: justify;
	padding: 2em 0 0 0.5em;
}
.text {
	display: grid;
	font-weight: 500;
	a {
		font-weight: 400;
		text-decoration: none;
		color: #000;
		&:hover {
			color: #1a008b;
		}
	}
}
